[run]
# 包含測量覆蓋率的目錄和檔案
source = 
    analysis
    data_loader
    interfaces
    metrics
    utils
    visualization

# 排除測量覆蓋率的目錄和檔案
omit =
    */tests/*
    */docs/*
    */scripts/*
    */site-packages/*
    */dist-packages/*
    setup.py
    conftest.py

[report]
# 排除特定行的覆蓋率測量
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError

# 不顯示未測試的檔案
skip_covered = False
# 顯示遺漏的行數
show_missing = True

[html]
# 設定 HTML 報告的輸出目錄
directory = coverage_html_report
title = SBP Analyzer Coverage Report 